#!/bin/bash
export ICAL_URI='http://example.com/hoge.ics'
export REMOTE_GIT=git@github.com:foo/bar.git
export COMMENT='auto commit'
export INTERACTIVE=true
export AUTO_PUSH=false
# export GIT_PROXY_COMMAND=
